.ticket-board {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  padding: 8px;
}

@media (max-width: 1200px) {
  .ticket-board {
    grid-template-columns: repeat(4, 1fr); /* 4 columns for medium screens */
  }
}

@media (max-width: 900px) {
  .ticket-board {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for smaller screens */
  }
}

@media (max-width: 600px) {
  .ticket-board {
    grid-template-columns: repeat(2, 1fr); /* 2 columns for mobile devices */
  }
}

@media (max-width: 400px) {
  .ticket-board {
    grid-template-columns: 1fr; /* 1 column for very small screens */
  }
}

.ticket-column {
  /* background-color: #f9f9f9; */
  border-radius: 10px;
  padding: 10px;
}

.ticket-column h3 {
  text-align: left;
  color: #333;
  margin-bottom: 10px;
  font-size: medium;
  font-weight: 500;
}

.ticket-card {
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
}

.ticket-card h4 {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}

.ticket-card p {
  margin: 5px 0;
  font-size: 14px;
}

.ticket-card .priority {
  display: flex;
  align-items: center;
  font-weight: bold;
  color: #ff4d4f;
}

.ticket-card .avatar {
  width: 30px;
  height: 30px;
}
.ticket-card .avatar img {
    border-radius: 50%; /* Makes the image rounded */
    width: 30px; /* Ensures the width stays as 30px */
    height: 30px; /* Ensures the height stays as 30px */
  }
  

.ticket-card h4 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* Limits the text to 2 lines */
  overflow: hidden; /* Ensures any overflow text is hidden */
  text-overflow: ellipsis; /* Adds dots at the end if the text overflows */
  word-break: break-word; /* Prevents words from overflowing the container */
}

.card-feature {
  padding-top: 0.2rem;
  padding-bottom: 0.2rem;
  padding-left: 0.7rem;
  padding-right: 0.7rem;
  border-radius: 0.375rem;
  border: 1px solid #6b728029;
  font-size: 0.875rem;
  line-height: 1.25rem;
  color: #6b7280e7;
  width: fit-content;
  margin-top: 5px;
  margin-right: 2px;
}

.ticket-icon{
    display: flex;
    gap: 10px;
}


.column-title{
  display: flex;
  gap: 4px;
  align-items: center;
  /* justify-content: center; */
}

.column-icon{
  margin-top: 4px;
  margin-right: 4px;
}

.column-top{
  display: flex;
  justify-content: space-between;
}

.column-right{
  display: flex;
  gap: 3px;
}

.ticket-length{
  margin-left: 4px;
  color: #949aa7e7;
}

.cards{
  display: flex;
}

.column-text{
  margin-bottom: 3px;
}
